<div class="con">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&#10006;</td>
				<td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  </tbody>
</table>
</div>