<div class="con">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&#10006;</td>
				<td><img src="https://images-na.ssl-images-amazon.com/images/I/61mJ3oVegKL._SY550_.jpg" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="https://contents.mediadecathlon.com/p1017650/k$ee9d9947c3c9c2ff9d002c372fcd0853/top-warm-men-s-padded-hiking-jacket-black.jpg?&f=800x800" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  <tr>
    <td>&#10006;</td>
    <td><img src="" /></td>
    <td class="txt-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
    <td class="txt-right">$80.00</td>
    <td class="txt-right"><input type="text" value="1" class="quantity" /></td>
    <td class="txt-right">$80.00</td>
  </tr>
  </tbody>
</table>
</div>